<center> <header><h1>Welcome Username</h1> </header></center>
<ul class="nav nav-tabs">
  <div class="col-md-4">
    <div class="col-md-6">
      <li>
        <a href= "/friends" data-toggle="tab"><h2>Friends</h2></a>
      </li>
    </div>

    <div class="col-md-6">
      <li>
        <a href="/groups" data-toggle="tab"><h2>Groups</h2></a>
      </li>
    </div>
  </div>
</ul>
<div class="tab-content">
 <div class="tab-pane active" id="friends">
 </div>
 <div class="tab-pane" id="groups">
 </div>

</div>
<div class="col-md-4">
</div>
<div class="col-md-4">
  <a class="btn btn-lg btn-warning" data-toggle="modal" data-target="#billModal" style="height: 45px;">

    Add a bill
  </a>
  <a class="btn btn-lg btn-success" data-toggle="modal" data-target="#settleModal" style="height: 45px;">
    Settle up 
  </a>
  <div ng-controller="calcController">
   <button type="button" class="btn btn-lg btn-primary" ng-click="BillDataFunc()" >Setup a Bill Record</button>
 </div>
</div>
</div>            
</div> 