<center> <header><h1>Welcome {{main.username}}</h1> </header></center>
<ul class="nav nav-tabs">
  <div class="col-md-4">
    <div class="col-md-6">
      <li>
        <a href= "/friends" data-toggle="tab"><h2>Friends</h2></a>
      </li>
    </div>

    <div class="col-md-6">
      <li>
        <a href="/groups" data-toggle="tab"><h2>Groups</h2></a>
      </li>
    </div>
  </div>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="friends">
    <div style="margin-left:10px;">
      <br/>
      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#friendModal">
      <span class="glyphicon glyphicon-plus"></span>Add More Friends
      </button> 
    </div>
      <br/>
    <div class="col-md-2">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th> Friends </th>
            <th> Email</th> 
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="friend in friendList">
            <td>{{friend.fname}}</td>
            <td>{{friend.email}} </td>
            
          </tr>                                
        </tbody>
      </table>
    </div>
  </div>
  <div class="tab-pane" id="groups">
  </div>
</div>

<div class="col-md-4">  
</div>
<div class="col-md-4">
  <a class="btn btn-lg btn-warning" data-toggle="modal" data-target="#billModal" style="height: 45px;">

    Add a bill
  </a>
  <a class="btn btn-lg btn-success" data-toggle="modal" data-target="#settleModal" style="height: 45px;">
    Settle up 
  </a>
</div>



  <div class="modal fade" id="friendModal" role="dialog" style="text-align:center;">
    <div class="modal-dialog">
    
      <!--  Modal content -->
      <div class="modal-content">
        <div class="modal-header"  style="background-color:#5bc0de;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Invite your friends
           </h4>
        </div>
        <div class="modal-body">
          <form name="form1" ng-submit= "register.createfriend();" novalidate= "novalidate">
            <input type="text"   placeholder="Enter name" style="height:35px; width:90%;" ng-required="true" ng-model="register.friendData.fname" />
            <br/>
           
            <input type="email"  placeholder="Enter Email" style="height:35px; width:90%;" ng-pattern="eml_add" ng-required="true" ng-model="register.friendData.email"/>
            <br/>
            <input type="submit" ng-disabled = "form1.$invalid" class ="btn btn-lg btn-success" value="Add"/>

          </form>
        </div>
          
      
       </div> 
     </div>
   </div>
  </div>