    
<center> <header><h1>Welcome to the Splitwise App</h1> </header></center>
<br/>
<div style="text-align: center;">
	<p style="font-family: Lucida Sans Unicode; font-size:17px;letter-spacing: 2px;line-height: 20px;">  Hello from Splitwise!! You can add a friend, create a group and view their list into tables. </p> 
	<br/>
	<p style="font-family: Lucida Sans Unicode; font-size:17px;letter-spacing: 2px;line-height: 20px;"> 
		You can also enter and split bill amongst your friend here. Check the links on the navbar for more options.
	</p>
</div>